    .results .result .poster {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        max-width: 320px;
        padding: 20px;
        margin: 0 auto;
        margin-top: 40px;
    }
    
    .results .result .poster img {
        height: 400px;
        opacity: 0.5;
        transition: 0.4s ease-out;
    }
    
    .results .result .poster img:hover {
        border: 1px solid rgb(209, 121, 70, 0.5);
        opacity: 1
    }
    
    .results .poster h3 {
        color: white;
        font-size: 17px;
        font-weight: bold;
        padding: 10px;
        background-color: #687886;
        transition: 0.4s ease-out;
    }
    
    .results .result .poster:hover h3 {
        background-color: #fff;
        color: #223343;
    }
    
    .results .result .info {
        font-size: 12px;
        color: rgb(85, 85, 85);
        margin-left: 10px;
    }
    
    .results .result .info p {
        margin-left: 10px;
        transition: 0.4s ease-out;
    }
    
    .results .result:hover p {
        color: rgb(255, 115, 0);
        font-weight: bold;
    }
    
    @media(max-width: 300px) {
        .results .result .poster {
            max-width: 250px;
            padding-right: 5px;
        }
    }