    .searchbox {
        border-radius: 8px;
        color: rgb(105, 105, 105);
        font-weight: 300;
        line-height: 50px;
        font-size: 20px;
        transition: 0.4s ease-out;
        width: 100%;
        padding: 0 5px 0 10px;
        margin: 0 auto;
        outline: none;
    }
    
    .searchbox:focus {
        box-shadow: 0 8px 8px 0px rgb(255, 115, 0, 0.553);
    }
    
    .searchclick {
        background: none;
        border: none;
    }
    
    .searchclick:focus {
        outline: none;
    }
    
    i {
        color: white;
        font-size: 30px;
        margin-left: 15px;
    }
    
    i:hover {
        color: rgb(255, 115, 0);
    }
    
    .sort span {
        display: block;
        color: white;
        font-size: 20px;
        margin-top: 50px;
        margin-left: 10px;
    }
    
    button.popularity {
        margin-left: 5px;
        font-size: 15px;
        color: white;
    }
    
    button.popularity:hover {
        color: rgb(255, 115, 0);
        transition: 0.4s ease-out;
    }
    
    button.popularity:focus {
        color: white;
        border-color: rgb(255, 115, 0);
        font-size: 17px;
    }
    
    button.title {
        color: white;
        font-size: 15px;
        transition: 0.4s ease-out;
    }
    
    button.title:hover {
        color: rgb(255, 115, 0);
    }
    
    button.title:focus {
        color: white;
        border-color: rgb(255, 115, 0);
        font-size: 17px;
    }