      * {
          margin: 0;
          padding: 0;
          box-sizing: border-box;
      }
      
      body {
          width: 100%;
          min-height: 100vh;
          font-family: "Montserrat", sans-serif;
          background-color: #223343;
      }
      
      @media (min-width: 200px) {
          body {
              width: 90%;
          }
      }
      
      @media (min-width: 360px) {
          body {
              width: 90%;
          }
      }
      
      @media (min-width: 720px) {
          body {
              width: 95%;
          }
      }
      
      @media (min-width: 1200px) {
          body {
              width: 100%;
          }
      }